@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* para estilizar uma class usa o '.' quando for id é '#'*/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0; /*sem garem*/
    padding: 0; /*espacamento interno de cada elemento.*/ 
}

body, html{
    background-color: #000000;
    color: #ffffff;
}

a, a:hover, a:visited {/*'houver' - quando passa o mouse em cima e 'visited' - quando foi visitado.*/
    color: unset; /*deixar cor do link no padrão branco.*/
    text-decoration: none; /*remove o sublinhado*/
}